.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.42857143;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 10%;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin: 3px;
}

.btn:hover{
    background-color: rgb(171, 171, 171);
}