.center-table {
    margin: 0 auto;
    width: 75%;
}

th, td {
    padding: 20px;
}

th {
    background-color: rgb(227, 222, 185);
    color: black;
  }

tr:nth-child(even) {
    background-color: #e4e3e3;
}