.NavbarBody {
    list-style-type: none;
    display: flex;
}

.NavbarItem {
    text-decoration: none;
    color: black;
    padding: 9px 35px;
    transition: 0.2s;
}

nav {
    z-index: 1000;
    position: sticky;
    background-color: rgb(238, 235, 213);
    color: black;
    display: flex;
    min-height: 20px;
    border-bottom: 1px solid rgb(203, 202, 202);
}

nav header {
    padding-left: 2%;
}

nav ul li span {
    font-size: 18px;
}

nav ul li span:hover {
    color: rgb(92, 92, 92);
    border-bottom: 2px solid rgb(92, 92, 92);
    padding-bottom: 5px;
    padding-top: 3px;
    border-top: 2px solid rgb(92, 92, 92);
    cursor: pointer;
}
